
table {
  border-collapse: collapse;
  border-style: hidden;
  margin: auto;
}
table td {
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
/*
table tr:first-child td{
	border-top: 0;
}

table tr:last-child td{
	border-bottom: 0;
}

table tr td:first-child{
  border-left: 0;
}

table tr td:last-child {
  border-right: 0;
}*/

 h1 {
 	text-align: center;
 }