<% include partials/header %>

    <div class="container">
        <header class="jumbotron">
            <div>
                <h1>Welcome to YelpCamp!</h1>
                <p>View our hand-picked campgrounds from all over the world</p>
                <p>
                    <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new Campground</a>
                </p>
            </div>
        </header>
        
        <div class="row">
            <div class="col">
                <h3 class="text-center my-3">Our Most Popular Campgrounds</h3>
            </div>
        </div>
        
        
        <div class="row text-center">
            <% campgrounds.forEach(function(campground){ %>
            <div class="col-12 col-sm-6 col-md-3">
                <figure class="figure">
                    <img class="figure-img img-fluid rounded" src="<%= campground.image %>">
                    <figcaption class="figure-caption"><%= campground.name %></figcaption>
                </figure>
            </div>
            <% }); %>
        </div>
        
    </div>

<% include partials/footer %>