body {
	max-width: 700px;
	margin: 20px auto;
	border: 20px solid gray;
	padding: 20px;
	font-weight: 800;
}

.date {
	color: rgb(0 150 250);
	text-transform: uppercase;
	letter-spacing: 4px;
}

hr {
	margin: 20px 0px;
}

.quote {
	border-left: 5px solid gray;
	padding-left: 5px;
}

h2 {
	font-size: 35px;
	color: #059FFF;
}