<h1>Register Form</h1>

<form aciton="/register" method="POST">
    <input type="text" name="username" placeholder="Enter the Username">
    <input type="password" name="password" placeholder="Enter the Password">
    <button>Submit</button>
</form>

<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>