<h1>Secret Page</h1>

<h1>Never speak about it</h1>

<img src="https://images.pexels.com/photos/568025/pexels-photo-568025.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=100">

<h1>Shhhhhhhhhhhhhhhhh</h1>

<li><a href="/register">Register</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>