body {
	padding: 70px;
}

.jumbotron {
	color: #2c3e50;
	background: #ecf0f1;
}

.navbar-inverse {
	color: #2c3e50;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.navbar .container .navbar-brand{
	color: white;
}